{% extends 'base.html' %}
{% load i18n staticfiles tz stats %}
{% block title %}{% trans 'Online' %} / {{ block.super }}{% endblock title %}

{% block head %}
{% endblock head %}

{% block content %}
    <section id="content">
        <div class="wrapper">
            <div class="content_head">
                <div class="content_title">
                    {% trans 'Pilots on the server' %}: {{ total_players }}
                </div>
            </div>

            <div class="online_players">

                <div class="online_coal_1">
                    <div class="header">
                        {{ COAL_1_NAME }}: {{ total_coal_1 }}
                    </div>

                    <div class="content_table">
                        {% for op in players_coal_1 %}
                            <a class="row" {% if op.profile_id %}href="{% url 'stats:pilot' op.profile_id op.nickname %}"{% endif %}>
                                <div class="cell">{{ op.nickname }}</div>
                            </a>
                        {% endfor %}
                    </div>

                </div>

                <div class="online_coal_2">
                    <div class="header">
                        {{ COAL_2_NAME }}: {{ total_coal_2 }}
                    </div>

                    <div class="content_table">
                        {% for op in players_coal_2 %}
                            <a class="row" {% if op.profile_id %}href="{% url 'stats:pilot' op.profile_id op.nickname %}"{% endif %}>
                                <div class="cell">{{ op.nickname }}</div>
                            </a>
                        {% endfor %}
                    </div>

                </div>

            </div>

            <div class="clearfix"></div>

        </div>
    </section>
{% endblock content %}
