{% extends 'base.html' %}
{% load i18n staticfiles tz stats %}
{% block title %}{{ profile.nickname }} / {{ block.super }}{% endblock title %}


{% block content %}
    <section id="content">
        <div class="wrapper">
            <div class="content_head">
                <div class="content_title">
                    {{ profile.nickname }}
                    <div class="content_title_sm">
                        {% trans 'The player did not participate in this tour' %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
