/.idea
/_backup
/_design
/_logs
/_aircrafts
/_trololo
*.bat
*.py[co1]
/*.log
/mission_report_backup
/*.lock
/.venv


/TODO

/src/core/settings_local.py
/src/core/settings_production.py
/src/core/settings_tests.py
/src/SECRET_KEY
/src/stats/static/less/*.css

/wheelhouse/yappi-0.94-cp35-none-win32.whl
/run/db_backup.cmd
/src/conf.local.ini
/run/install_*.cmd
/objects
