wheel==0.33.6
pip==19.3.1
setuptools==41.4.0

argon2-cffi==19.1.0
dj-static==0.0.6
Django==1.11.25
django-modeltranslation==0.13.3
filelock==3.0.12
Pillow==6.2.1
psycopg2==2.8.4
pytz==2019.3
six==1.12.0
static3==0.7.0
tzlocal==2.0.0
waitress==1.4.2
