wheel==0.38.1
pip==20.2.4
setuptools==50.3.2

argon2-cffi==20.1.0
dj-static==0.0.6
Django==1.11.29
django-modeltranslation==0.13.3
filelock==3.0.12
Pillow==6.2.2
psycopg2==2.8.6
pytz==2020.1
six==1.15.0
static3==0.7.0
tzlocal==2.0.0
waitress==1.4.4
